* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #0f1113;
  --foreground: #e5e7eb;
  --primary: #059669;
  --primary-foreground: #022c22;
  --card: #17191c;
  --glow-bg: #11221abf;
  --muted: #1f2327;
  --muted-foreground: #9ca3af;
  --border: #2a2f33;

  /* spacings and border radius */
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 4rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f9fafb;
    --foreground: #11181c;
    --primary: #059669;
    --primary-foreground: #022c22;
    --card: #ffffff;
    --glow-bg: #0596691a;
    --muted: #e5e7eb;
    --muted-foreground: #6b7280;
    --border: #d1d5db;
  }
}

@media (max-width: 768px) {
  :root {
    --space-sm: 0.25rem;
    --space-md: 1rem;
    --space-lg: 1.25rem;
    --space-xl: 1.5rem;
    --space-2xl: 2rem;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  background-size: 20px 20px;
  background-image: radial-gradient(var(--muted) 1px, transparent 1px);
}

.main-content {
  min-height: 100vh;
}

.accordion-section {
  padding: var(--space-2xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-lg);
}

.accordion-heading {
  text-align: center;
}

.accordion-container {
  width: 100%;
  max-width: 600px;
  border-radius: var(--space-md);
  background-color: var(--card);
  color: var(--foreground);
}

.accordion-item {
  border: 1px solid var(--border);
  margin-top: -1px;
  transition-duration: 300ms;
}

.accordion-item.open {
  position: relative;
  z-index: 1;
  border-color: var(--primary);
  background-color: var(--glow-bg);
}

.accordion-item:first-child {
  border-top-left-radius: var(--space-md);
  border-top-right-radius: var(--space-md);
  margin-top: 0px;
}

.accordion-item:last-child {
  border-bottom-left-radius: var(--space-md);
  border-bottom-right-radius: var(--space-md);
}

.accordion-trigger {
  padding: var(--space-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-item .accordion-trigger svg {
  transition: transform 300ms;
  transform: rotate(180deg);
}

.accordion-item.open .accordion-trigger svg {
  transform: rotate(0deg);
  color: var(--primary);
}

.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms;
}

.accordion-item.open .accordion-content {
  grid-template-rows: 1fr;
}

.accordion-content-wrapper {
  overflow: hidden;
}

.accordion-content p {
  padding: 0 var(--space-lg) var(--space-lg) var(--space-lg);
}
